body {
  background-color: blue;
}

p {
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  margin-left: 40%;
  margin-top: 5%;
}
button {
  background-color: greenyellow;
  margin-left: 45%;
  margin-top: 20%;
}


